# Linear Regression Model

## import libs

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pandas as pd

## read data base

In [34]:
data = pd.read_csv('RESULTS_sobolsampling-2048.csv', index_col=1)
data
data = data.drop(data.columns[0], axis=1)
data = data.transpose()
data

#         SigC      SigH      EpsC      EpsH     density  density_err
1     0.329511  0.074231  1.036268  0.062599  891.797000        0.820
2     0.066754  0.316262  0.205940  0.119844    0.183657        0.009
3     0.193948  0.136800  0.751676  0.037376  664.747000        1.900
4     0.230588  0.235899  0.596203  0.100129  682.448000        0.380
5     0.242166  0.148891  0.406759  0.087550  688.667000        1.800
...        ...       ...       ...       ...         ...          ...
2044  0.242035  0.235637  0.735539  0.137124  708.349000        0.690
2045  0.230760  0.148096  1.005841  0.111508  714.162000        1.200
2046  0.194069  0.189609  0.357464  0.056020    0.000000      100.000
2047  0.066912  0.095994  0.782125  0.108488  651.054000        1.800
2048  0.329646  0.259110  0.444702  0.043977  707.088000        0.470

[2048 rows x 6 columns]

## prepare data

In [39]:
X = data.drop('density', axis=1)
X = X.drop('density_err', axis=1)
#X

Y = data['density']
#Y

1       891.797000
2         0.183657
3       664.747000
4       682.448000
5       688.667000
           ...
2044    708.349000
2045    714.162000
2046      0.000000
2047    651.054000
2048    707.088000
Name: density, Length: 2048, dtype: float64